<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>首页</title>
    <p>欢迎您，<span th:text="${userName}"></span></p>
    <style>
        table td {
            text-align: center;
            width: 200px;
        }
    </style>
</head>
<body>

    <div style="margin: auto;width: 800px;">
        <h1>用户积分：<span th:text="${socre}"> </span></h1>
        <h1>库存数量：<span th:text="${amount}"> </span></h1>

        <h1>产品信息列表</h1>
        <table style="background-color: antiquewhite" border="1">
            <tr style="background-color: bisque;font-weight: bold;text-align: center;">
                <td>产品名称</td>
                <td>价格</td>
                <td>产品描述</td>
            </tr>
            <tr th:each="productInfo:${productInfoList}">
                <td th:text="${productInfo.productName}"/>
                <td th:text="${productInfo.price}"/>
                <td th:text="${productInfo.describe}"/>
                <td>
                    <form action="/order/deal" method="post">
                        <input type="submit" value="购买一个，生产订单"/>
                        <input type="hidden" name="productId" value="1" />
                        <input type="hidden" name="price" value="3000" />
                        <input type="hidden" name="sum" value="1" />
                    </form>
                </td>
            </tr>
        </table>
        <h1>订单列表</h1>
        <table style="background-color: antiquewhite" border="1">
            <tr style="background-color: bisque;font-weight: bold;text-align: center;">
                <td>订单编号</td>
                <td>金额</td>
                <td>数量</td>
                <td>创建时间</td>
            </tr>
            <tr th:each="orderInfo:${orderInfoList}">
                <td th:text="${orderInfo.orderId}"/>
                <td th:text="${orderInfo.money}"/>
                <td th:text="${orderInfo.amount}"/>
                <td th:text="${orderInfo.createTime}"/>
            </tr>
        </table>

        <p style="margin-top: 12px">

        </p>
    </div>
</body>
</html>